/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face{
    font-family:'AvenirLT-Medium';
    src:url('/assets/avenirlt-medium.eot');
    src:url('/assets/avenirlt-medium.eot?#iefix') format("embedded-opentype"),
        url('/assets/avenirlt-medium.woff') format("woff"),
        url('/assets/avenirlt-medium.ttf') format("truetype")
}
@font-face{
    font-family:'AvenirLT-Black';
    src:url('/assets/avenirlt-black.eot');
    src:url('/assets/avenirlt-black.eot?#iefix') format("embedded-opentype"),
        url('/assets/avenirlt-black.woff') format("woff"),
        url('/assets/avenirlt-black.ttf') format("truetype")
}
@font-face{
    font-family:'AvenirLT-Roman';
    src:url('/assets/avenirlt-roman.eot');
    src:url('/assets/avenirlt-roman.eot?#iefix') format("embedded-opentype"),
        url('/assets/avenirlt-roman.woff') format("woff"),
        url('/assets/avenirlt-roman.ttf') format("truetype")
}
html, body {
	height: 100%;
}
body {
	font-family: 'AvenirLT-Roman';
}
.home {
	background: url(/assets/bg2.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	height: 100%;
}
.center {
	text-align: center;
}
.btn {
	border-radius: 2px;
}
.hero-message {
}
p {
	font-size: 1.2em;
	line-height: 30px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "AvenirLT-Black";
	text-transform: uppercase;
}
h1 {
	font-size: 40px;
	text-transform: uppercase;
}
.hero-message h1 {
	font-size: 70px;
}
.hero-message h3 {
	margin: 0 0 28px;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}
.text-muted {
	color: #999;
}
footer {
	background: #fff;
	padding: 50px 20px;
	text-transform: uppercase;
	font-family:'AvenirLT-Black';
	color: #999;
	font-size: 12px;
}
.clearfix {
	clear:both;
}
.social-links {
	width:33.3333333333%; 
	padding:100px 0; 
	float:left;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "AvenirLT-Black";
	color:#fff;
}
.purple {
	background:#A02DF0; 
}
.purple-dk {
	background:#961AEF; 
}
.purple-dker {
	background:#8C10E5;
}
.contact-form {
	background: #f5f5f5;
	padding:50px 0;
}
.form-control {
	border:none;
	background: transparent;
	box-shadow: none;
}
.form-group {
	border-bottom: 4px solid #999;
	margin-bottom: 60px;
}
/*.form-group:last-child {
	margin-bottom: 0px;
}*/
.form-control:focus {
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-transparent {
	background: transparent;
	border: 4px solid #999;
}
.contacts {
	color: #999;
	padding:50px 0 0 0;
}
.contacts a {
	color: #999;
	font-size: 18px;
}
.navbar-nav > li > a,
.navbar-brand {
	color: #fff;
	text-transform:uppercase;
	font-family: "AvenirLT-Black";
	font-size:12px;
}
.navbar-brand {
	float:none;
}
.board-members {
	background: #7B838B;
}
.board-members p,
.board-members .bio p,
.board-members .blurb .name h6,
.board-members h1 {
	color: #fff;
}
.blurb {
	padding:20px;
}
.name {
	border-top: 4px solid #e5e5e5;
	border-bottom: 4px solid #e5e5e5;
	margin-bottom: 20px;
}
.name h6 {
	color: #7B00C8;
	font-family:'AvenirLT-Medium';
	margin: 10px 0 5px;
	font-size: 16px;
}
.bio p {
	font-size: 16px;
	color: #999;
}
.about-us {
	background: #EEE7F4;
}
#center {
	bottom: 0;
	height: 187px;
	left: 0;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	width: 1170px;
}
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -moz-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  -o-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}



.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -moz-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  -o-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -moz-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  -o-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
  transform: translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}






