<section class="about-us" style="padding:100px 0">
	<div class="container">
		<div class="center">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<h1 style="margin-bottom:30px; color: #7E1EC2;">What is Mensa?</h1>
					<p style="margin-bottom:50px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehe</p>
				</div>
			</div>
		</div>
	</div>
</section>