<section class="board-members" style="padding:50px 0">
	<div class="container">
		<div class="center">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<h1 style="margin-bottom:30px;">Board Members</h1>
					<p style="margin-bottom:50px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehe</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div style="width:750px; margin: 0 auto;">
				<div class="" style="width:360px; float:left; margin-right:30px;">
					<%= image_tag("leon.jpg", class: "img-circle img-responsive") %>
					<div class="blurb">
						<div class="name center">
							<h6>Leon Feingold</h6>
						</div>
						<div class="bio">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
				<div class="" style="width:360px; float:left">
					<%= image_tag("greg.jpg", class: "img-circle img-responsive") %>
					<div class="blurb">
						<div class="name center">
							<h6>Greg Draves</h6>
						</div>
						<div class="bio">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>