<section class="notable-members" style="padding:50px 0">
	<div class="container">
		<div class="center">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<h1 style="margin-bottom:30px;">Notable Members</h1>
					<p class="text-muted" style="margin-bottom:50px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehe</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<%= image_tag("natalie.jpg", class: "img-circle img-responsive") %>
				<div class="blurb">
					<div class="name center">
						<h6>Natalie Portman</h6>
					</div>
					<div class="bio">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<%= image_tag("lisa.jpg", class: "img-circle img-responsive") %>
				<div class="blurb">
					<div class="name center">
						<h6>Lisa Simpson</h6>
					</div>
					<div class="bio">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<%= image_tag("steve.jpg", class: "img-circle img-responsive") %>
				<div class="blurb">
					<div class="name center">
						<h6>Steve Martin</h6>
					</div>
					<div class="bio">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>