<div class="contact-form">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="center">
					<h1 class="">Say Hello</h1>
					<p>Talk Nerdy to Us!</p>
				</div>
				<form>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Full Name">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Email">
							</div>
						</div>
					</div><!-- end row -->
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group" style="">
								<input class="form-control" type="text" placeholder="What's on your mind?">
							</div>
						</div>
					</div><!-- end row -->
					<input type="submit" value="Send It" class="btn btn-transparent btn-lg btn-block">
				</form>
				<div class="contacts center">
					<p>info@mensa.com</p>
					<p>(917) 123-1233</p>
					<p>1229 Corporate Drive West<br>
						 Arlington, TX 76006-6103</p>	
				</div>
			</div>
		</div>
	</div>
</div>