<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				© 2015 Greater New York Mensa
			</div>
			<div class="col-sm-6">
				<div class="pull-right">
					Site by <span style="color:#ed2828;">Startup Institute Team 4</span>
				</div>
			</div>
		</div>
	</div>
</footer>