<div class="center social-links purple">
	Facebook
</div>
<div class="center social-links purple-dk">
	Twitter
</div>
<div class="center social-links purple-dker">
	LinkedIn
</div>
<div class="clearfix"></div>