<div class="center social-links gray">
	Facebook
</div>
<div class="center social-links gray-dk">
	Twitter
</div>
<div class="center social-links gray-dker">
	LinkedIn
</div>
<div class="clearfix"></div>